:root {
  --font-inter: "inter", "inter Fallback";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background: lab(100% 0 0);
  ;
}

html {
  scrollbar-color: rgb(113, 112, 112) transparent;
}

body {
  background-color: #FFFFFF;
}

.bg-img {
  width: 100%;
  display: block;
  z-index: 0;
  transform: translateY(-425px);
}

.bg-svg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center -425px;
}

.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}



.container {
  position: relative;
  width: 100%;
  height: 5600px;
}


.navbar {
  position: fixed;
  width: 100%;
  height: 260px;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-navbar {
  width: 97.3%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items {
  display: flex;
  width: 63%;
  height: 100%;
}

.logo-menu {
  display: flex;
  width: 71%;
}

.header-logo img {
  margin-top: 20px;
  margin-left: 8px;
  height: 95px;
  width: auto;
}

.menu-items {
  width: 63.7%;
  margin-left: auto;
}

.menu-items-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items-inner ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 110px;
  list-style: none;
  padding: 0;
  margin-top: 33px;
  font-size: 60px;
  font-weight: 550;
  color: aliceblue;
  font-family: "Inter", sans-serif;
}

.header-right {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  width: 26%;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.header-buttons {
  display: flex;
  gap: 40px;
  padding: 0px;
}

.header-buttons button {
  border: none;
  border-radius: 90px;
  font-size: 58px;
  font-weight: bold;

}

.h-button-one {
  width: 490px;
  height: 130px;
  color: aliceblue;
  margin-top: 0px;
  background: #ffffff0d;
  padding-top: 15px;
  letter-spacing: 0.02cm;
}

.h-button-two {
  padding-top: 10px;
  letter-spacing: 0.02cm;
  width: 467px;
  height: 130px;
  background: aliceblue;
  color: #272727;
  font-family: "Inter", "Inter Fallback", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.hi {
  position: relative;
  z-index: 3;
}

main {
  position: relative;
  z-index: 3;
  margin-top: -350px;
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
  height: 2000px;
  margin-top: 263px;
  color: #fff;
}

.new-button-div {
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.main-button {
  width: 98%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-button {
  background-color: rgba(38, 41, 46, 0.235);
  border-radius: 100px;
  width: 22%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 18px;
}

.new {
  width: 175px;
  height: 91px;
  border-radius: 100px;
  background: lab(51.3415% -41.5657 15.3527);
}

.new p {
  font-size: 48px;
  font-weight: 500;
  padding: 15px 14px 0px 18px;
  font-family: "Inter", "Inter Fallback", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.text {
  width: 82%;
}

.text p {
  font-size: 56px;
  font-weight: 500;
  padding-left: 25px;
  font-family: var(--font-inter);
}

.arrow {
  margin: auto;
  color: #fff;
  padding: 10px 0px 0px 15px;
  width: 80px;
}

.h-title {
  height: 585px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2080px;
}

.title {
  font-size: 250px;
  font-family: var(--font-inter);
  letter-spacing: -.04em;
  font-weight: 600;
  line-height: 1.2;
  padding: 0px 0px 8px 0px;
}

.h-text {
  height: 310px;
  padding-top: 92px;
}

.h-text-text {
  width: 27.4%;
  margin-left: 2510px;
  height: 215px;
  padding-top: 10px;
  font-size: 70px;
  line-height: 1.5;
  font-family: var(--font-inter);
}

.form-button {
  background-color: lab(100% 0 0/.15);
  border-radius: 300px;
  border: 1px solid rgba(189, 189, 189, 0.3);
  margin-left: 2720px;
  margin-top: 108px;
  height: 175px;
  width: 1450px;
  display: flex;

}

.h-start-button {
  height: 310px;
  padding: 20px;
}

input {
  width: 700px;
  height: 140px;
  background: none;
  border: none;
  font-size: 60px;
  font-weight: 600;
  margin-left: 70px;
  margin-top: 19px;
}

input::placeholder {
  color: lab(97.93% 0.01 -0.01 / 0.508);
}

.form-button-button {
  height: 135px;
  width: 377px;
  border-radius: 300px;
  font-size: 60px;
  font-family: var(--font-inter);
  border: none;
  background-color: #FFFFFF;
  margin-left: 280px;
  margin-top: 18px;
}



.image-space {
  margin-top: 390px;
}

.image-space img {
  width: 4300px;
  border-radius: 80px;
}


.companies {
  height: 1200px;
}

.inside-company img {
  width: 4300px;
  height: 1050px;
  margin-left: 1315px;
  transform: translateY(-170px);
}

.intelligence {
  height: 600px;
}

.i-title {
  display: flex;
  justify-content: center;
  height: 300px;
  font-size: 152px;
  padding-top: 105px;
  font-family: var(--font-inter);
  letter-spacing: -0.03em;
  font-weight: bold;
}

.i-text {
  height: 200px;
  font-size: 62px;
  display: flex;
  justify-content: center;
}

.i-text p {
  text-indent: 1em;
  margin-top: 40px;
  font-family: var(--font-inter);
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.i-llm-agents {
  height: 2250px;
  margin-top: 0px;
  display: flex;
  gap: 120px;
  justify-content: center;
  padding-top: 130px;
}

.i-left {
  border: 2px solid rgba(0, 0, 0, 0.07);
  width: 28.5%;
  height: 2116px;
  border-radius: 100px;
}

.i-right {
  border: 2px solid rgba(0, 0, 0, 0.07);
  width: 28.5%;
  height: 2116px;
  border-radius: 100px;
}

.g-title {
  color: lab(51.3415% -41.5657 15.3527);
  ;
  font-size: 45px;
  padding: 130px 0px 0px 110px;
  font-family: var(--font-inter);
  letter-spacing: 0.035em;
  font-weight: bold;
}

.g-heading {
  font-size: 95px;
  padding: 80px 0px 0px 110px;
  font-family: var(--font-inter);
  letter-spacing: -0.02em;
}

.g-para {
  font-size: 65px;
  padding: 70px 0px 0px 110px;
  line-height: 1.5;
  font-family: var(--font-inter);
  letter-spacing: -0.015em;
}

.g-img img {
  width: 98%;
  padding-top: 60px;
}

.next-img {
  height: 3200px;
}

.next-img img {
  width: 81.7%;
  height: auto;
  padding-left: 1280px;
}

.enterprise {
  background-color: lab(2.42579% -.165291 -.470081 / .03);
  height: 5200px;
  padding-top: 400px;
  padding-left: 1410px;

}

.e-first {
  height: 855px;
  width: 75%;
  display: flex;
}

.e-topic {
  width: 70%;
}

.e-title {
  padding: 10px 0px 0px 10px;
  font-size: 48px;
  letter-spacing: 0.04em;
  color: lab(51.3415% -41.5657 15.3527);
  font-family: var(--font-inter);
  font-weight: 400;
}

.e-big-title {
  font-size: 150px;
  line-height: 1.1;
  font-family: var(--font-inter);
  font-weight: 600;
  padding-top: 75px;
  letter-spacing: -0.0091em;
}

.e-para {
  font-size: 65px;
  padding-top: 75px;
  font-family: var(--font-inter);

}

.e-button {
  padding: 470px 0px 0px 370px;
}

.e-button button {
  font-size: 65px;
  border-radius: 200px;
  background-color: #111;
  width: 850px;
  height: 170px;
  color: #fff;
  padding: 10px 0px 0px 15px;

}


.symbol-text {
  height: 1000px;
  margin-top: 90px;
  width: 73.5%;
  display: flex;
  gap: 190px;
}


.s-one {
  height: 700px;
  width: 43%;
}

.s-two {
  height: 700px;
  width: 52.3%;
}

.svg-one {
  width: 130px;
  height: 130px;
}


.s-title {
  padding: 120px 0px 0px 0px;
  font-size: 80px;
  font-family: var(--font-inter);
  font-weight: 600;
  letter-spacing: -0.01em;
}

.s-para {
  font-size: 60px;
  padding: 60px 0px 0px 0px;
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-inter);
}


.s-img img {
  width: 75%;
  height: auto;
}

.customers {
  height: 1300px;
}

.c-title {
  font-size: 49px;
  color: white;
  padding-left: 3300px;
  padding-top: 635px;
  color: lab(51.3415% -41.5657 15.3527);
}

.c-big-title {
  font-size: 155px;
  font-family: var(--font-inter);
  font-weight: 600;
  padding-top: 80px;
  padding-left: 2240px;
  letter-spacing: -0.04em;
}

.c-para {
  font-size: 65px;
  font-family: var(--font-inter);
  padding-top: 60px;
  text-align: center;
}

.slider-wrapper {
  max-width: 6000px;
  margin: 80px auto;
  margin-left: 1220px;
  position: relative;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

.slider {
  display: flex;
  gap: 24px;
  transition: transform 0.5s ease;
}

.card {
  min-width: 1580px;
  border-radius: 18px;
  padding: 16px;
}

.rs {
  padding-top: 100px;
  color: lab(2.42579% -.165291 -.470081 / .5);
}

.rs:hover {
  color: rgb(10, 155, 10);
}

.card img {
  width: 100%;
  height: 1100px;
  border-radius: 64px;

}

.card p {
  margin-top: 10px;
  font-size: 60px;
  font-family: var(--font-inter);
}

#s1:checked~.slider {
  transform: translateX(0);
}

#s2:checked~.slider {
  transform: translateX(-404px);
}

#s3:checked~.slider {
  transform: translateX(-808px);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 35px;
  border: none;
  background: none;
  margin-right: 1100px;
  margin-top: 200px;
}

.b1 {
  background: transparent;
  border: none;
  margin-top: 54px;
  width: 120px;
}

.b2 {
  background: transparent;
  border: none;
  margin-top: 50px;
  width: 120px;
}

.controls label {
  width: 400px;
  height: 400px;
  background: #e5e5e5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
}

.controls label:hover {
  background: #d0d0d0;
}

.sr-only {
  color: #fff;
}


.document {
  height: 1690px;
}


.d-title {
  font-size: 150px;
  font-family: var(--font-inter);
  font-weight: 600;
  margin-left: 0px;
  padding-top: 800px;
  text-align: center;
}

.d-para {
  font-size: 65px;
  font-family: var(--font-inter);
  padding-top: 50px;
  text-align: center;
}

.d-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  gap: 30px;
}

.free button {
  font-size: 60px;
  border-radius: 100px;
  font-weight: 600;
  background-color: black;
  color: white;
  width: 760px;
  height: 150px;
}

.demo button {
  font-size: 60px;
  border-radius: 100px;
  border: 1px solid rgb(117, 115, 115);
  background-color: transparent;
  color: #111;
  font-weight: 600;
  width: 500px;
  height: 150px;
}

.term-build {
  margin-top: 180px;
  height: 1060px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tb-body {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 1060px;

}

.svg-tb {
  width: 190px;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 40px;
  margin-bottom: 150px;
}

.svg-tb-1 {
  width: 190px;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 40px;
  margin-bottom: 150px;
}

.term {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.p1-text {
  font-size: 80px;
  font-family: var(--font-inter);
  font-family: 400;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.p1-text-t {
  font-size: 80px;
  font-family: var(--font-inter);
  font-family: 400;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.build {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.p2-text {
  font-size: 75px;
  text-align: center;
  margin-bottom: 200px;
}

.tb-body a {
  font-size: 65px;
  text-decoration: none;
  font-family: var(--font-inter);
  color: lab(51.3415% -41.5657 15.3527);
  ;
}

.footer {
  background: #ffffff;
  border-top: 1px solid #eee;
  padding: 0px 0 30px;
  font-family: Inter, sans-serif;
  width: 100%;
  height: 2900px;
  margin-top: 550px;
}

.footer-container {
  max-width: 4100px;
  margin: 0 auto;

  height: 100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.c-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.logo img {
  margin-top: 150px;
  width: 410px;
  height: 300px;
  margin-left: 130px;
}


.a-1 svg {
  width: 100px;
  height: 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.socials {
  height: 300px;
  margin: 16px;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 90px;
}

.socials a {
  margin-left: 16px;
  text-decoration: none;
  color: #999;
  font-size: 150px;
  margin-right: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 750px 780px 780px 780px 900px;
  height: 1350px;
}

.footer-grid h4 {
  font-size: 50px;
  letter-spacing: 0.08em;
  color: #999;
  margin-bottom: 16px;
  text-transform: uppercase;
  padding: 200px 0px 20px 180px;
}

.footer-grid a {
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  font-size: 54px;
  font-weight: 500;
  padding: 28px 0px 10px 180px;
  line-height: 2.1;
}

.footer-grid a:hover {
  background-color: rgb(246, 244, 244);
  border-radius: 200px;

}

.footer-middle img {
  transition: filter 0.2s ease;
}

.footer-middle {
  display: flex;
  height: 450px;
  align-items: center;
  gap: 16px;
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.strong-t {
  font-size: 55px;
  font-weight: 400;
  padding-left: 150px;
}

.logo-one {
  width: 400px;
  height: 300px;
}

.badge {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  font-size: 60px;
  color: #666;
  height: 600px;
}


.f-icons {
  display: flex;
  gap: 10px;
  border-radius: 20px;
}

.btn-1{
  padding: 0px 0px 0px 0px ;
  font-size:100px;
  background-color: rgb(65, 64, 64);
}

.f-icons button {
  border: none;
  color: #e3e3e3;
  width: 130px;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
}

.p-work {
  margin-left: 150px;
  margin-bottom: 300px;
  display: flex;
  /* background-color: yellow; */
  border-radius: 100px;
  width: 800px;
}

.p-svg {
  width: 50px;
  margin-left: 100px;
}

.status {
  font-family: var(--font-inter);
  height: 120px;
  font-weight: 600;
  font-size: 55px;
  padding: 22px 0px 0px 10px;
}
.p-text{
 font-size: 55px;
 font-weight: 600;
 padding: 0px 900px 300px 0px;
 color: rgb(162, 158, 158);
}


.theme-switch {
  display: flex;
  gap: 80px;
  background: #f3f3f3;
  border-radius: 999px;
  height: 100px;
  width: 380px;
  margin-bottom: 280px;
  margin-right: 220px;
}

.icon {
  font-size: 60px;
  color: #777;
  padding-top: 10px;
  margin-left: 30px;
}

.toggle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding-top: 50px;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.toggle.active {
  color: black;
}